.brand-section {
  width: 80%;
  margin: 70px auto;
}
.brand {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-gap: 25px;
}
@media (max-width: 840px) {
  .brand {
    grid-template-columns: 350px;
  }
}
@media (min-width: 840px) and (max-width: 1200px) {
  .brand {
    grid-template-columns: repeat(2, 400px);
  }
}
