.form {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.form form input:not(:last-child) {
  width: 450px;
  padding: 5px 10px;
}
@media (max-width: 640px) {
  .form form input:not(:last-child) {
    width: 320px;
  }
}
